importFrom("utils", "combn")
importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "points", "rect", "abline", "mtext", "par", "axis")
importFrom("stats", "runif", "pchisq", "quantile", "pgamma", "qnorm", "rmultinom")
export(binner)
export(plotBinning)
export(depthFill)
export(residualFill)
export(importanceFill)
export(chiScores)
export(miScores)
export(randScores)
export(halfCutTie)
export(maxScoreSplit)
export(rUnifSplit)
export(halfSplit)
export(binChi)
export(binMI)
export(binAbsDif)
export(makeCriteria)
export(stopper)
export(singleBinner)
export(rIntSplit)
export(makeBin)
export(sandboxMaxSplit)
export(uniBinner)
export(catBinner)
export(DepSearch)
export(uniRIntSplit)
export(uniMaxScoreSplit)
export(numNumFittedDf)
export(numNumSimpleDf)
export(numNumGammaShape)
export(numNumGammaScale)
export(facNumSimpleDf)
export(facNumFittedDf)
export(facNumGammaShape)
export(facNumGammaScale)
export(depDisplay)
S3method(depDisplay, default)
S3method(depDisplay, data.frame)
S3method(depDisplay, DepSearch)
S3method(plot, DepSearch)
S3method(summary, DepSearch)
