importFrom("grDevices", "colorRampPalette")
importFrom("graphics", "points", "rect")
importFrom("stats", "runif")
export(binner)
export(plotBinning)
export(depthFill)
export(residualFill)
export(chiScores)
export(miScores)
export(randScores)
export(halfCutTie)
export(maxScoreSplit)
export(halfSplit)
export(binChi)
export(binMI)
export(binAbsDif)
export(makeCriteria)
export(stopper)
